@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#background {
    min-height: 100vh;
    max-height: fit-content;
    padding: 30px 0px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1614854262340-ab1ca7d079c7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
    animation-name: aparecer-texto-1;
    animation-duration: 500ms;
}

@keyframes aparecer-texto-1 {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
    }
  } 

#card-cadastro, #card-cadastro-login {
    height: fit-content;
    width: 30%;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    animation-name: aparecer-card;
    animation-duration: 1000ms;
}

@keyframes aparecer-card {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
    }
  } 

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px;
}

label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border-style: none;
    background: #C4C4C4;
    padding-left: 15px;
    margin: 10px 0px 10px 0px;
    
}

input:focus{
    outline: 0;
    box-shadow: 0 0 0 0;
}

#div-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#form button {
    height: 40px;
    border-radius: 40px;
    border-style: none;
    width: fit-content;
    padding: 0 60px;
    background-image:url("https://images.unsplash.com/photo-1614854262340-ab1ca7d079c7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80");
    color: #FFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

#form button:hover {
    animation-name: btn-hover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes btn-hover {
    100% {
        transform: scale(1.09);
    }
}

#call-login p {
    padding-top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    animation-name: aparecer-texto-2;
    animation-duration: 1500ms;
}

@keyframes aparecer-texto-2 {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
    }
  } 

#call-login p a {
    padding-top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
#call-login p a:hover {
    text-decoration: underline;
}

#btn-voltar{
  height: 35px;
}

#div-btn-voltar {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1200px){
  #background p {
    font-size: 24px;
  }

  #card-cadastro {
    width: 80%;
    height: fit-content;
  }

  label {
    font-size: 14px;
  }
  input {
    width: 100%;
    height: 25px;
  }

  #form {
    width: 100%;
  }

  #div-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #form button {
    width: 70%;
    font-size: 16px;
    text-align: center;
    padding: 0;
  }

  #call-login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #call-login p{
    font-size: 16px;
    width: 80%;
    text-align: center;
  }

  #call-login p a{
    font-size: 16px;
  }

  #div-btn-voltar {
    width: 80%;
    margin-bottom: 15px;
  }

  #btn-voltar {
    height: 25px;
  }

  #card-cadastro-login{
    width: 80%;
    height: fit-content;
  }
}
