@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* HOME */
#landing-1 {
  /* background: rgb(14,124,217);
  background: radial-gradient(circle, rgba(14,124,217,1) 0%, rgba(74,178,119,1) 100%); */
  background-color: #0E7CD9;
  background-size: cover;
  background-attachment: fixed;
}

#navbar {
  position: absolute;
  padding: 30px 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  animation-name: aparecer-navbar;
  animation-duration: 2000ms;
}
#tellme {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tellme p {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:fit-content;
  margin: 20px 30px;
}

#links-landing {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:fit-content;
}

#link {
  color: #FFFFFF;
  margin: 20px 30px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

#link:hover {
  animation-name: link-hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes link-hover {
  100% {
    border-bottom: 2px solid rgb(155, 127, 127);
  }
}

#links-landing button {
  border: none;
  border-style: none;
  border-radius: 30px;
  height: 45px;
  width: fit-content;
  padding: 0px 30px;
  color: #0E7CD9;

}

.row {
  width: 100%;
}
.col {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#slogan {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #FFFFFF;
  animation-name: aparecer-slogan;
  animation-duration: 2000ms;
}


#frase-landing {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: right;
  color: #FFFFFF;
  animation-name: aparecer-frase;
  animation-duration: 4000ms;
}

@keyframes aparecer-navbar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer-slogan {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer-frase {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
  }
}

#artigos {
  background-color: rgb(255, 255, 255);
}

#h1-artigos{
  padding: 30px 60px;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #0E7CD9;
}

#grid-cards {
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
  display: inline-grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: 300px;
  grid-auto-rows: 300px;
  grid-auto-columns: 700px;
  grid-auto-flow: row;
  gap: 50px;
  justify-content: center;
}

#card-artigo{
  background-color: #0E7CD9;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 13px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: flex-start;
  min-height: 35vh;
  max-height: fit-content;
}

#titulo-artigo{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}

#conteudo-artigo{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-align: justify;
  height: fit-content;
}

#card-artigo button {
  border-style: none;
  width: 170px;
  min-height: 35px;
  background: #FFFFFF;
  border-radius: 6px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

#div-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#dropdown {
  display: none;
  position: relative;
  right: 10px;
}

#links-landing-dropdown {
  width: 100%;
  height: 200px;
  background: #FFF;
  position:absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  animation-name: aparecer-dropdown;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes aparecer-dropdown {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}

#links-landing-dropdown #link {
  color:#0E7CD9;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  width: fit-content;
}

#links-landing-dropdown #link:hover{
  animation-name: link-dropdown-hover;
  animation-duration: 500ms;
}

@keyframes link-dropdown-hover {
  100% {
    border-bottom: 2px solid #0E7CD9;
  }
}
#links-landing-dropdown button {
  width: fit-content;
  background: none;
  border: none;
  color:#0E7CD9;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  padding: 0px;
}


#dropdown button {
  border: none;
  background: transparent;
}

#dropdown button img {
  height: 32px;
}

@media (max-width: 1200px) {
  #grid-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: fit-content;
    grid-auto-rows: fit-content;
    grid-auto-columns: 80vw;
    gap: 100px;
  }

  #card-artigo {
    height: fit-content;
    width: 80vw;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  }

  #titulo-artigo {
    font-size: 14px;
  }

  #conteudo-artigo {
    font-size: 10px;
  }

  #links-landing {
    display:none;
  }

  #navbar {
    padding: 10px 10px;
    width: 100%;
  }

  #tellme {
    font-size: 24px;
  }

  #tellme p {
    margin: 10px 10px;
  }

  #slogan {
    font-size: 30px;
    text-align: left;
    width: 100%;
    padding-left: 20px;
  }

  #frase-landing {
    font-size: 20px;
    padding-right: 20px;
  }

  .col{
    height: 25vh;
  }

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #h1-artigos{
    padding: 30px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #0E7CD9;
  }

  #card-artigo button {
    width: 130px;
    min-height: 35px;
    font-size: 12px;
  }

  #dropdown {
    display: block;
  }




}